.places .places-title {
	text-align: left;
	font-size: 30px;
	margin: 0;
	padding-top: 20px;
}

.places .places-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places .places-content > article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places-content-title {
	display: flex;
}

.places-content-title h2{
	font-size: 30px;
	flex-grow: 1;
	text-align: right;
	margin: 0;
	margin-right: 20px;

}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	border-radius: 50%;
	text-align: center;
}

.price_by_night span {
	line-height: 60px;
}

.information {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin-top: 10px;
	margin-bottom: 5px;
}

.information > div {
	display: flex;
	flex-direction: column;
	width: 100px;
}

.information .max-guest-icon {
	background-image: url("../images/icon_group.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
}

.information .number-rooms-icon {
	background-image: url("../images/icon_bed.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
}

.information .number-bathrooms-icon {
	background-image: url("../images/icon_bath.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
}

.user .Owner {
	font-weight: bold;
}

.user {
	padding: 10px 0;
}

.places .amenities {
	margin-top: 40px;
}

.places .amenities > h2 {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 10px;
}

.places .amenities ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.places .amenities ul li{
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.places .amenities .amenities-icon{
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.places .amenities ul li:nth-child(1) .amenities-icon
{
	background: url("../images/icon_tv.png") no-repeat center;
	background-size: cover;
}
.places .amenities ul li:nth-child(2) .amenities-icon
{
	background: url("../images/icon_wifi.png") no-repeat center;
	background-size: cover;
}
.places .amenities ul li:nth-child(3) .amenities-icon
{
	background: url("../images/icon_bath.png") no-repeat center;
	background-size: cover;
}
.places .amenities ul li:nth-child(4) .amenities-icon
{
	background: url("../images/icon_pets.png") no-repeat center;
	background-size: cover;
}
.places .reviews {
	margin-top: 40px;
}

.places .reviews > h2{
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 10px;
}

.places .reviews ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.places .reviews ul li h3 {
	font-size: 14px;
	margin-bottom: 0;
}

.places .reviews ul li p {
	font-size: 12px;
	padding: 2px;
	margin: 0;
}

.places article {
	display: flex;
	flex-direction: column;
}

.places article .amenities {
	flex-grow: 1;
}
